.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.logo_image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 1%;
}

.Char {
  color: white;
  background-color: gray;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #272640;
}

.CharList {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  text-align: left;
  background-color: #277da1;
  color: white;
  width: 100%;
  padding: 1%;
  margin-bottom: 1%;
}

#iter_buttons {
  display: flex;
  justify-content: space-between;
}

footer {
  margin-top: 3%;
  width: 100%;
  padding-top: 1%;
}

.menu {
  margin-bottom: 2%;
}

#section-to-print {
  visibility: hidden;
  height: 0;
}

@media print {
  body * {
    visibility: hidden;
  }

  #navbar, h1 {
    visibility: visible;
  }

  #instructions_container * {
    visibility: visible;
  }

  @page { size: auto;  margin: 0mm; }
}

#navbar_buttons_div {
  display: flex;
  justify-content: left;
}

.navbar_buttons {
  background-color: #277da1; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.navbar_buttons:hover {
  background-color: #4D908E; 
  color: white;
}

#instructions_container {
  width: 90%;
  text-align: left;
  margin-top: 2%;
  background-color: #F9C74F;
  padding: 5%;
}

#score {
  background-color: white;
  color: rgb(122, 122, 122);
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  border-radius: 5%;
  border: 1px solid #43AA8B;
}

#success_container{
  width: 90%;
  text-align: left;
  margin-top: 2%;
  background-color: #F9C74F;
  padding: 2%;
}

@media (min-width: 576px) {
  #success_container, #instructions_container {
      width: 50%;
  }
}
